.styledBtn {
  padding: 5px 15px;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  transition: 0.5s all;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: #2653ff;
}

.styledBtn:hover {
  transform: scale(1.1);
}
